<div class="form-group">
  <div class="custom-file">
    <%= article.file_field :image, id: "img", class: "custom-file-input" %>
    <label class="custom-file-label" for="img">画像を選択</label>
  </div>
</div>
<div class="form-group">
  <label for="title">タイトル</label>
  <%= article.text_field :title, id: "title", class: "form-control" %>
</div>
<div class="form-group">
  <label for="content">内容</label>
  <%= article.text_area :content, id: "content", rows: "8", class: "form-control" %>
</div>
<div class="text-right">
  <%= article.submit act_btn, class: "btn btn-primary" %>
</div>
