<div class="alert alert-success mt-5" role="alert">
  <h4 class="alert-heading">完了!</h4>
  <p>記事を削除しました。</p>
  <hr>
  <p class="mb-0">ホームに戻っても大丈夫です。</p>
  <a class="btn btn-primary" href="/" role="button">ホームへ戻る</a>
</div>